 /* Estilos para el encabezado */
 header {
    background-color: #af704c;
    padding: 20px;
    text-align: center;
    color: white;
}

/* Estilos para la barra de navegación */
nav a {
    color: rgb(79, 39, 105);
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #dacd5f;
}

/* Estilos para la sección principal */
.container {
    width: 90%;
    margin: 20px auto;
    padding: 15px;
    background-color: #e4b6b6;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
    color: #7e2929;
}

.container p {
    font-size: 16px;
    color: #9e0909;
    line-height: 1.6;
}

/* Estilos para el pie de página */
footer {
    background-color: #31554a;
    color: rgb(170, 43, 92);
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}